[submodule "nvim/pack/minpac/opt/minpac"]
	path = nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac
[submodule "nvim/pack/minpac/opt/vim-commentary"]
	path = nvim/pack/minpac/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
